p{
  font-size: 22px;
  color: #c69e5f;
}

img{
  width: 50px;
  height: 50px;
}

.inactive{
  filter: grayscale(100%);
}
.rotate {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
