<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-6 col-sm-12 zoom-in"
      style="height: 500px; background-color: black; background-image: url(https://static.toiimg.com/photo/74254234/Pune.jpg?width=748&resize=4);">
      <div
        class="ml-auto d-flex flex-column justify-content-center align-self-center text-center align-items-center h-100">
        <h1 style="">Lorem ipsum </h1>
        <!-- <button mat-raised-button> click me2</button> -->
      </div>
    </div>
    <div class="col-md-12 col-lg-6 col-sm-12 zoom-in"
      style="height: 500px; background-color: black;background-image: url(https://image.freepik.com/free-photo/raw-beef-kebab-with-herbs-dark-board-close-up_93675-81435.jpg);">
      <div
        class="ml-auto d-flex flex-column justify-content-center align-self-center text-center align-items-center h-100">
        <h1>Lorem ipsum </h1>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 col-sm-12 zoom-in"
      style="height: 500px; background-color: black; background-image: url(https://thumbs.dreamstime.com/b/lula-kebab-black-background-lula-kebab-vegetables-black-background-173225710.jpg);">
      <div
        class="ml-auto d-flex flex-column justify-content-center align-self-center text-center align-items-center h-100">
        <h1>Lorem ipsum </h1>
        <!-- <button mat-raised-button> click me2</button> -->
      </div>
    </div>
    <div class="col-md-12 col-lg-6 col-sm-12 zoom-in"
      style="height: 500px; background-color: black;background-image: url(https://hkliving.nl/media/38792/servies-2-05.jpg);">
      <div
        class="ml-auto d-flex flex-column justify-content-center align-self-center text-center align-items-center h-100">
        <h1>Lorem ipsum </h1>
      </div>
    </div>
  </div>
</div>
