mat-sidenav-container {
    z-index: 100000000000;
}

button {
    &.cart {
        z-index: 100000000;
        bottom: 10px;
        color: white;
        background-color: #c59d5f;
        height: 65px;
        border-radius: 50px;
        right: 0;
    }
}

mat-sidenav {
    position: fixed;
    background-color: white;
    color: #c59d5f;
    width: 50vw;
    & .close {
        cursor: pointer;
        position: absolute;
        color: inherit;
        right: 10px;
    }
    & .content-container {
        padding-top: 15px;
    }
    & .shopping-cart {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px 0px;
        &>img {
            // width: 100px;
            width: 200px;
            height: 55%;
            object-fit: cover;
            border: 2px solid #c59d5f;
            border-radius: 25px;
        }
    }
}

.quantity {
    & div {
        justify-content: space-between !important;
        width: 80px;
    }
    width: 100%;
    & mat-icon {
        min-width: fit-content;
        padding: 0px;
        background: #c59d5f;
        border-radius: 40px;
        color: #000;
    }
}

.checkout {
    padding: 0 10px;
}

.total-items-container {
    margin-top: 15px;
}

.specific-item-total {
    margin: 30px;
}

.ptc {
    background-color: #FFF;
    color: #c59d5f;
    &:hover {
        background-color: #c59d5f;
        color: #FFF;
    }
}

.clear-cart {
    background-color: #f9f9f9;
    color: #ff0027;
}

.border-dashed {
    width: 100%;
    border-top: 2px dashed #c0b4b4;
    margin: 0px 16px;
}

mat-icon.operation-icon {
    color: #68645e;
    border-radius: 4px;
    &:hover {
        color: #FFF;
        background: #68645e;
    }
}
