<div class="h-100 pb-3" >
  <div class="container-fluid">
    <div class="d-flex justify-content-between mb-3">
      <h1>{{title}}</h1>
      <button mat-raised-button (click)="returnToPage()" *ngIf="returnTo != undefined" style="height: fit-content;">Return to table</button>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="d-flex flex-column justify-content-between h-100"
      style="width: 100%;">
      <div *ngFor="let field of formFields">
        <app-fields [field]="field" [form]="form" [image]="image"></app-fields>
      </div>

      <div class="d-flex flex-row justify-content-between">
        <button mat-raised-button type="submit" [disabled]="!form.valid"
          style="background-color: black; color: #c59d5f;">{{buttonTitle}}</button>
        <ng-container *ngIf="editable">
          <button mat-raised-button (click)="form.enable()" *ngIf="form.disabled" color="secondary">Edit</button>
          <button mat-raised-button (click)="form.disable()" *ngIf="form.enabled" color="warn">Cancel</button>
        </ng-container>
      </div>
    </form>

  </div>
</div>
<!-- style="background-color: white;
border-radius: 15px;
box-shadow: 0px 1px 10px 1px #0000008a; padding: 10px;" -->
