.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 44px;
  letter-spacing: 2px;
  padding-bottom: 20px;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 10px;

}

.sub-title{
  font-size: 34px;
  font-family: "Playball", cursive;
  color: #C59D5F;
  text-transform: none;
  margin: 25px 0;
  line-height: 3rem;
}

p{
  font-size: 2.3em;
  line-height: 2rem;
}

.main-container{
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;
}
