<h3 mat-dialog-title>Please Select Pickup location in order to proceed:</h3>
<div mat-dialog-content>
</div>

<mat-form-field appearance="fill">
    <mat-label>Branch of pickup</mat-label>
    <mat-select>
        <mat-option *ngFor="let branch of branches" mat-raised-button (click)="changeBranch(branch.id)"
            [value]="branch.id">
            {{branch.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close [disabled]="selectedBranch == null">Save</button>
</mat-dialog-actions>