.mt-7 {
    margin-top: 7.5rem !important;
}

.text-primary {
    color: #c59d5f !important;
}

.custom-card {
    border: none !important;
}

.img-custom {
    border-radius: 5px;
}

.title {
    font: 500 30px/35px "League Gothic", "Arial", "Helvetica" !important;
}