.truncate-cell {
    max-width: 60px;
    /* feel free to include any other value */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-footer-row,
.mat-header-row,
.mat-row {
    // display: inline-flex;
    // min-width: 100%;
}

tr.mat-row {
    height: 100px;
}

th.mat-header-cell:last-of-type {
    padding-right: 0;
}

td.mat-cell:last-of-type {
    padding-right: 0;
}

th.mat-header-cell:first-of-type {
    padding-left: 0;
}

td.mat-cell:first-of-type {
    padding-left: 0;
}

h1 {
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 0.25rem;
}

.header {
    height: 50px;
}

.add-button {
    right: 0;
}

table {
    width: 100%;
    background-color: transparent !important;
}

img {
    object-fit: contain;
}

th {
    width: fit-content;
    text-align: center;
    color: #FFF;
    background-color: #c59d5f;
    border-color: #e0e0e0;
}
