.main-container {
  background-image: url(http://lambert.kwst.net/site/images/bg/8.jpg);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
  color: #fff;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: 0;
}
.prom-header{
  position: relative;
        top: 30px;
}
.sub-title{
  color: #fff;
  font-size: 34px;
  font-family: 'Playball', cursive;
  color: #C59D5F;
}
.item-name {
  padding-right: 5px;
  font-weight: bold;
  font-size: 20px;
  text-align: right;
  width: fit-content;
  flex-wrap: wrap;
  white-space: nowrap;
  position: relative;
  top: 20px;
}
.promotion{
  margin-bottom: 50px;
}
.day{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
  text-align: left;
  padding-bottom: 12px;
  float: left;
}
.promotion-dots{
  display: table-cell;
      width: 100%; height: 40px;
      border-bottom: 2px dotted white;
}
.old-price{
  padding: 5px;
  font-size: 13px;
  text-decoration: line-through;
}
.content{
  margin-top: 50px;
}
.price{
  // top: 20px;
}

.title{
  & h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 44px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
  }
}
