.navbar-collapse {
    transition: all 1s ease 0.1s;
}

.removeOpacity {
    transition: all 1s ease 0.1s;
    background-color: white;
    color: black !important;
    & * {
        color: black !important;
        transition: all 1s ease 0.1s;
        & a:hover {
            color: red !important;
        }
    }
}

.navbar {
    background-size: cover;
    align-items: baseline !important;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 2;
    transition: all 1s ease 0.1s;
    & ul {
        width: fit-content;
        margin: auto;
        align-items: center;
        font-size: 1.3rem;
        & li {
            align-self: center !important;
            margin-top: 10px;
            border-radius: 50px;
            padding: 3px;
            width: 100%;
            display: inline-block;
            white-space: nowrap;
            >a {
                color: white;
                font-size: 18px;
            }
        }
    }
    @media (max-width: 1050px) {
        justify-content: center;
    }
    & .main-links {
        & .nav-link {
            font-family: Trade Gothic LT Bold, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}

button {
    & mat-icon {
        color: white !important;
    }
}

:host ::ng-deep .mat-badge-content {
    background-color: #93550d;
}

.main-container {
    z-index: 4;
    line-height: 24px;
    background: linear-gradient(181deg, #000000e6, #d1462715) !important;
}

.info-container {
    padding: 15px 0;
    color: white;
    & p {
        font-size: 18px;
        padding-left: 23px;
        position: relative;
        margin: 0 13px 0 0;
        display: inline-block;
        padding-top: 10px;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    }
}

a:hover {
    color: red !important;
    transition: all 0.1s ease-in-out 0.3s;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}