<ngb-carousel  [@fadeInUp] [interval]="52000" [animation]="true"  class="pickgradient position-relative pb-2" [ngStyle]="getHeight()" id="ngb-carousel">
  <ng-template ngbSlide *ngFor="let item of carouselItems;">
    <div class="overlay"></div>
    <img [src]="item.image" width="100%" height="110vh">
    <div class="carousel-caption">
      <h3>{{item.label}}</h3>
      <p>{{item.description}}</p>
      <button *ngIf="item.buttonLink" mat-raised-button [routerLink]="['menu']" class="generic">{{item.buttonText}}</button>
    </div>
  </ng-template>
</ngb-carousel>
