img{
  height: calc(100vh) !important;
  width: 100vw;
  object-fit: cover;
}

:host ::ng-deep .carousel-item {
  transition: all 1.6s;
}
:host ::ng-deep carousel-item.active {
  z-index: 1;
  opacity: 1;
  transition-delay: 1s;
}
h3{
  color: orange;
      font-size: 1.3rem !important;
}
p {
  color: orange;
  font-size: 1.5rem !important;
}
