<div class="container-fluid styled-container">
    <app-unified-table [dataSource]="dataSource" (action)="openRecord($event)" [hideDeleteButton]="true"
        [containsActionButtons]="true" [containsTableAction]="false" [title]="'Catering'"
        [displayedColumns]="['name','description','phoneNumber','branchName','date','time','status']">
        <ng-template let-data="data">
            <button mat-icon-button [matMenuTriggerFor]="menu" color="primary"
                aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">

                <button mat-menu-item (click)="changeStatus(data,0)">
                    <mat-icon>schedule</mat-icon>
                    <span>Waiting for approval</span>
                </button>

                <button mat-menu-item (click)="changeStatus(data,1)">
                    <mat-icon>check</mat-icon>
                    <span>Accept</span>
                </button>

                <button mat-menu-item (click)="changeStatus(data,3)">
                    <mat-icon>cancel</mat-icon>
                    <span>Cancel</span>
                </button>

                <button mat-menu-item (click)="changeStatus(data,2)">
                    <mat-icon>delete_forever</mat-icon>
                    <span>Reject</span>
                </button>

            </mat-menu>
        </ng-template>
    </app-unified-table>
</div>