<mat-progress-bar *ngIf="!hideBar" mode="indeterminate"></mat-progress-bar>
<table mat-table [dataSource]="dataSource">
  <ng-container *ngFor="let col of displayedColumns">
    <ng-container matColumnDef="{{col}}" class="text-center" *ngIf="col != 'actions'">
      <th mat-header-cell *matHeaderCellDef class="text-center" style="text-align: center!important;"> {{col}}</th>
      <td mat-cell *matCellDef="let element" class="truncate-cell text-center">
        <ng-container *ngIf="col != 'status_Text'">{{element[col]}}</ng-container>
        <ng-container *ngIf="col == 'status_Text'">
          <p class="label label_attention">Waiting for approval</p>
        </ng-container>
      </td>
    </ng-container>
  </ng-container>

  <!-- <ng-container matColumnDef="actions">
    <tr>
      <th mat-header-cell *matHeaderCellDef class=""> Action </th>
    </tr>
    <tr>
      <td mat-cell *matCellDef="let row" style="width:20%" class="text-center">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Change Status</span>
          </button>
        </mat-menu>
      </td>
    <tr>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr (click)="getRecord(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<ng-container *ngIf="!dataSource.length">no data was found</ng-container>
