.text-primary {
    color: #c59d5f !important;
}

.text-secondary {
    color: #ff5e14 !important;
}

.font-items {
    font-family: "Playball", cursive;
}

.menu-item-dots {
    display: inline-block;
    width: 50%;
    margin-left: 21px;
    border-bottom: 1px dashed #ad9e9e;
}

.main-container {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px;
    background-image: url(../../assets/images/menu_background.png);
    height: 250px; background: url(../../assets/images/background_solid.png);
}

.simple-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(50, 49, 49);
    opacity: 0.7;
    z-index: 0;
}

.app-menu {
    overflow-x: hidden;
    // font-family: 'Rochester', cursive;
}

.font-r {
    font-family: 'Rochester', cursive;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 44px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    //margin-top: 36px !important;
    line-height: normal;
}

.sub-title {
    font-size: 34px;
    font-family: 'Playball', cursive;
    //color: #c59d5f;
    text-transform: none;
    //  margin: 20px 0;
    line-height: 3rem;
}