.text-primary {
    color: #c59d5f !important;
}

.text-secondary {
    color: #ff5e14 !important;
}

.font-items {
    font-family: "Playball", cursive;
}

.menu-item-dots {
    display: inline-block;
    margin-left: 21px;
    display: table-cell;
    width: 100%;
    height: 40px;
    border-bottom: 1px dashed #ad9e9e;
}

.main-container {
    background-repeat: no-repeat;
    background-size: cover;
    // padding: 70px;
    padding: 55px;
    height: 200px;
    background: url(../../assets/images/background_solid.png);
}

.app-menu {
    overflow-x: hidden;
}

.font-r {
    font-family: 'Rochester', cursive;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 44px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    //margin-top: 36px !important;
    line-height: normal;
}

.menu-item {
    float: left;
    width: 100%;
    position: relative;
}

.menu-item-details {
    display: table;
}

.menu-item-desc {
    padding-right: 5px;
    font-family: 'Droid Serif', serif;
    // font-weight: bold;
    font-style: italic;
    text-align: left;
    // font-size: 20px;
    display: table-cell;
    white-space: nowrap;
    width: 10%;
    line-height: 15px;
    text-align: left;
}

.menu-item-prices {
    display: table-cell;
    white-space: nowrap;
    width: 2%;
    padding: 10px 0 0 10px;
    text-align: left;
}