<app-descriptive-block [subtitle]="'Order Now '" [content]="'Easy and Fast'" [containsButton]="false" [styling]="{'background-image':'url(../../assets/images/mccain-fries-and-appetizers.jpg)'}">
    <ng-template let-data="data">
        <div class="text-center container">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label style="color: #c59d5f;">Branch of pickup</mat-label>
                <mat-select [value]="selectedBranch">
                    <mat-option *ngFor="let branch of branches" mat-raised-button (click)="changeBranch(branch.id)" co [value]="branch.id">
                        {{branch.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </ng-template>
</app-descriptive-block>
<div class="container-fluid tab-container mt-5">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs bg-light">
        <li [ngbNavItem]="i+1" *ngFor="let item of items; let i =index;">
            <a ngbNavLink class="nav-link m-0" aria-current="page" (click)="goToTarget(item.category)">{{item.category}} </a>
        </li>
    </ul>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 " *ngFor="let item of items; let i =index;">
                <h2 class="text-primary mt-2" [id]="item.category"> {{item.category}}</h2>
                <div class="row  align-items-center">
                    <div class=" col-md-6 col-lg-6 col-sm-12 col-xs-12" *ngFor="let menuItem of item.items" (click)="addToCart(menuItem)">


                        <div class="card">
                            <div class="row">

                                <div class="col-md-8 col-lg-8">
                                    <div class="card-body start">
                                        <h1 class="text-primary ">{{menuItem.name}}</h1>
                                        <p class="card-text text-muted my-0"> {{menuItem.description}} </p> <br>
                                        <p class="card-text text-primary"> {{menuItem.price}}$ </p>

                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4">
                                    <img class="m-auto" [src]="environment+menuItem.imageURL" width="100%">

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>