<div class="container-fluid" style="    padding-left: 9.2%;
padding-right: 9.2%;     padding-top: 6.2%; padding-bottom: 6.2%;
background: url(https://wallpaperaccess.com/full/3884637.jpg);
    ">
    <div class="d-flex flex-row justify-content-between text-section w-100 flex flex-wrap">
        <h2 style="font-size: 5rem;
    line-height: 8rem;">Hungry?</h2>
        <div class="d-flex flex-column">
            <p style="font-size: 1.2rem;
      line-height: 3.2rem;">
                Each location has a menu that's curated just for them. See what's new on the menu at your Kabab Grill.</p>
            <a href="#">view full menu</a>
        </div>
    </div>
    <div class="mt-5 d-flex justify-content-center flex-row flex-wrap flex-grow-1">
        <mat-card class="example-card m-2 bg-transparent" *ngFor="let items of preMenuItems">
            <mat-card-header>
                <mat-card-title>{{items.title}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="items.image" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p style="font-size: 20px; font-weight: 500;">
                    {{items.description}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
