<!-- <div class="container-fluid position-relative main-container">
  <div class="overlay"></div>
  <div class="container position-relative">
    <div class="header text-center">
      <div class="title">
        <h3>Weekly Deals</h3>
      </div>
      <div class="sub-title">
        <p>Investigationes demonstraverunt lectores
        </p>
      </div>
    </div>
    <div class="content">
      <div *ngFor="let i of [1,2,3,4,5]" class="promotion">
        <div class="d-flex flex-row prom-header position-relative">
          <p class="mr-3 day">Monday</p><span>(something)</span>
        </div>
        <div class="promotion-details">
          <div class="item-datails d-table h-100 d-flex flex-row align-items-center">
            <div class="item-name font-weight-bold d-inline font-italic"><p>Lorem Ipsum</p></div>
            <div class="promotion-dots"></div>
              <div class="h-100 d-flex flex-column price position-relative flex-row">
              <span class="old-price">10$</span>
              <span style="font-size: 22px;">7$</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<app-fancy-list [title]="'Weekly Deals'" [backgroundImage]="'http://lambert.kwst.net/site/images/bg/8.jpg'" [subtitle]="'Lorem Ipsum Subtitle'" [offers]="deals"></app-fancy-list>
