/* You can add global styles to this file, and also import other style files */
// @import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Shizuru&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  // zoom: 82%;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
// * {
//   font-family: "Fredericka the Great", cursive !important;
//   font-family: "Shizuru", cursive !important;
//   font-weight: 800 !important;
// }
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
  z-index: 0;
}

button {
  &.generic {
    border: none;
    padding: 15px 40px;
    background: white;
    line-height: 17px;
    cursor: pointer;
    font-size: 22px;
    letter-spacing: 2px;
    font-family: 'Playball', cursive;
    -webkit-appearance: none;
    border-radius: 4px;
    transition: all 200ms linear;
    color: #c59d5f;
    margin-top: 70px;
    &:hover {
      background-color: #c59d5f;
      color: #000;
    }
  }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: black;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c59d5f;
  // border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c59d5f;
}

.label {
  display: inline-block;
  padding: 0 7px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 2em;
  &_success {
    color: #1a7f37;
    border-color: #2da44e;
  }
  &_danger {
    color: #cf222e;
    border-color: #cf222e;
  }
  &_attention {
    color: #9a6700;
    border-color: #bf8700;
  }
  &_severe {
    color: #bc4c00;
    border-color: #bc4c00;
  }
  &_done {
    color: #8250df;
    border-color: #8250df;
  }
  &_open {
    color: #1a7f37;
    border-color: #2da44e;
  }
}
