<div class="container-fluid styled-container">
<form [formGroup]="menuForm" (ngSubmit)="callingFunction()">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Item name</mat-label>
    <input matInput [formControlName]="'name'">
    <mat-error *ngIf="menuForm.controls['name']?.hasError('required')">Name is Required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Description</mat-label>
    <textarea matInput [formControlName]="'description'"></textarea>
    <mat-error *ngIf="menuForm.controls['description']?.hasError('required')">Description is Required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Price</mat-label>
    <input matInput [formControlName]="'price'" type="number" min="0">
    <mat-error *ngIf="menuForm.controls['price']?.hasError('required')">Price is Required</mat-error>
  </mat-form-field>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Select Category</mat-label>
    <mat-select [formControlName]="'categoryId'" multiple="false">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let category of categories" [value]="category.id">
        {{category.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="menuForm.controls['categoryId'].hasError('required')">Please select category</mat-error>
  </mat-form-field>
  <!-- <input [formControlName]="'imageURL'" (change)="onFileSelected()" #fileInput type="file" id="file" class="w-100"> -->
  <div class="pt-3 pb-3">
    <div class="imagesContainer" *ngIf="image !==''">
      <div class="imageItem">
        <img [src]="image" alt="" />
        <span class="deleteButton" (click)="removeImage()">Remove</span>
      </div>
    </div>
    <label class="buttonContainer">
      <input  type="file" name="imageURL" (change)="uploadFile($event)"/>
      {{"Upload media"}}
    </label>
  </div>

  <mat-checkbox [formControlName]="'isTemporarilyUnavailable'" class="w-100">Hide from menu?</mat-checkbox>
  <!-- <mat-error *ngIf="menuForm.controls['Is_Temporarily_Unavailable']?.hasError('required')">Price is Required
    </mat-error> -->

  <mat-checkbox [formControlName]="'itemSpecial'" class="w-100"
    (change)="specialActivated(menuForm.controls['itemSpecial'].value)">Special Item?</mat-checkbox>
  <!-- <mat-error *ngIf="menuForm.controls['Is_Special']?.hasError('required')">Price is Required</mat-error> -->
</form>
<form [formGroup]='Menu_ItemSpecialForm' *ngIf="menuForm.controls['itemSpecial'].value" (ngSubmit)="submitSpecialForm()">

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Available on</mat-label>
    <mat-select [formControlName]="'type'" multiple="false" (valueChange)="doSomething($event)">
      <mat-option *ngFor="let type of spicIalTypes" [value]="type.label">
        {{type.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="Menu_ItemSpecialForm.controls['days']" class="w-100">
    <mat-label>Day/s (repeatedly)</mat-label>
    <mat-select [formControlName]="'days'" multiple="true"
      [disabled]="Menu_ItemSpecialForm.controls['type'].value == 'Only for this day' ">
      <mat-option *ngFor="let day of days" [value]="day.value">
        {{day.day}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="w-100" *ngIf="Menu_ItemSpecialForm.controls['intervalFrom']" appearance="outline">
    <mat-label>From</mat-label>
    <input matInput [matDatepicker]="picker" [formControlName]="'intervalFrom'">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field *ngIf="Menu_ItemSpecialForm.controls['intervalTo']" class="w-100" appearance="outline">
    <mat-label>To</mat-label>
    <input matInput [matDatepicker]="picker" [formControlName]="'intervalTo'">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <ng-container *ngIf="Menu_ItemSpecialForm.controls['timeFromHour']">
    <mat-form-field appearance="outline" style="cursor: pointer;" (click)="openFromIcon(timepicker)" class="w-100">
      <mat-label>Starting time</mat-label>
      <input type="text" matInput [ngxMatTimepicker]="timepicker" [format]="12" [disabled]="true"
        [formControlName]="'timeFromHour'" />
      <mat-icon matSuffix>schedule</mat-icon>
    </mat-form-field>
    <ngx-mat-timepicker #timepicker></ngx-mat-timepicker>
  </ng-container>

  <ng-container *ngIf="Menu_ItemSpecialForm.controls['timeToHour']">
    <mat-form-field appearance="outline" style="cursor: pointer;" (click)="openFromIcon(timepicker)" class="w-100">
      <mat-label>Ending time</mat-label>
      <input type="text" matInput [ngxMatTimepicker]="timepicker" [format]="12" [disabled]="true"
        [formControlName]="'timeToHour'" />
      <mat-icon matSuffix>schedule</mat-icon>
    </mat-form-field>
    <ngx-mat-timepicker #timepicker></ngx-mat-timepicker>
  </ng-container>
</form>
<app-options-form (formValue)="menuFormSubmitting($event)" [menuID]="menuID"></app-options-form>
<!-- <button class="m-1" mat-raised-button type="submit" (click)="menuFormSubmitting()">Submit Application</button> -->
</div>
