h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 44px;
  letter-spacing: 2px;
  padding-bottom: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: normal;
}

.time {
  line-height: 40px;
  font-size: 27px;
  color: #c59d5f;
}


.sub-title {
  color: #fff;
  font-size: 34px;
  font-family: 'Playball', cursive;
  color: #c59d5f;
}

.main-container {
  background-image: url(https://i.gifer.com/Sfs.gif);
  padding: 150px 0;
  color: #fff;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
