<div class="container-fluid text-center position-relative main-container">
  <div class="overlay"></div>
  <div class="container position-relative">
    <div class="title">
      <h2> Opening Hours</h2>
    </div>
      <p class="sub-title">Call For Reservations</p>
    <div class="opening-hours text-white">
      <div class="text-center d-flex flex-row justify-content-around pt-5 time">
        <div class="">
          Saturday to tuesday
          <div class="d-flex justify-content-center text-white">
            9:00
            <br>
            22:0
          </div>
        </div>
        <div class="">
          Saturday to tuesday
          <div class="d-flex justify-content-center text-white">
            9:00
            <br>
            12:00
          </div>
        </div>
      </div>
    </div>
    <div class="number"></div>
  </div>
</div>
