a {
  &:hover {
    background-color: rgb(250 250 250 / 33%) !important;
    transition: all 0.3s ease-in 0.1s;
  }
}
:host::ng-deep .mat-expansion-indicator {
  &::after {
    color: white !important;
  }
}
mat-drawer {
  background-image: linear-gradient(
    177deg
    , rgba(197,157,95,1) 0%, rgba(163,61,36,1) 60%, rgba(189,47,68,1) 88%);
  width: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid {
  padding: 20px;
  // margin-top: 3.95rem;
  background-color: #f0f0fa;
}

.upper-nav {
  height: 50px;
  background-image: linear-gradient(
    177deg,
    rgba(197, 157, 95, 1) 0%,
    rgba(163, 61, 36, 1) 60%,
    rgba(189, 47, 68, 1) 88%
  );
  width: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}
