<mat-drawer-container class="example-container" style="height: 100vh;" >
  <mat-drawer mode="side" opened #sidenav style="    background-image: linear-gradient(135deg, rgb(47 62 160 / 92%), rgba(174, 52, 45, 0.96)), url(../../../assets/images/full.png), url(../../../assets/images/full.png); width: 250px; background-repeat: no-repeat; background-size: cover;">
    <img src="../../../assets/images/logoCropped-removebg-preview.png" alt="">
    <mat-accordion *ngFor="let item of sideMenuItems$">
      <mat-expansion-panel style="background-color: transparent;">
        <mat-expansion-panel-header>
          <mat-panel-title style="color: white;">
            {{item.title}}
          </mat-panel-title>
        </mat-expansion-panel-header>
          <mat-nav-list>
            <a style="color: white;" *ngFor="let child of item.children" [routerLink]="[child.link]" mat-list-item>{{child.title}}<mat-divider></mat-divider></a>
          </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>
  <mat-drawer-content >
    <button mat-button (click)="sidenav.toggle()" style=" left: 0;"><mat-icon class="mat-18">menu</mat-icon></button>
    <div class="container" style="padding:20px; margin-top: 3.95rem; background-color: #f7f7f8;">
      <mat-card>
          <mat-card-header>
          </mat-card-header>
          <mat-card-content>
            <router-outlet></router-outlet>
          </mat-card-content>
      </mat-card>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
