a {
  &:hover {
    background-color: rgb(250 250 250 / 33%) !important;
    transition: all 0.3s ease-in 0.1s;
  }
}
:host::ng-deep .mat-expansion-indicator {
  &::after {
    color: white !important;
  }
}
mat-drawer {
  background-image: linear-gradient(190deg, #43e97b 0%, #38f9d7 100%);
  width: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid {
  padding: 20px;
  // margin-top: 3.95rem;
  background-color: #f7f7f8;
}

.upper-nav {
  height: 50px;
  background-image: linear-gradient(120deg, #43e97b 0%, #38f9d7 100%);
  width: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}
